@import "../../variables.lessimport";

.flex-container {
  color: @alizarin;
  font-family: @main-font;

  .title {
    font-weight: 300; 
    // font-size: 2em;
    transition: all .5s;
    transition-timing-function: cubic-bezier(.09,.95,.88,.01);
    transform: translate3d(0, 0 ,0);

    &:hover {
      // font-size: 3em;
      transform: translate3d(0, 100px , 0);
      font-weight: 700;
    }
  }


}